@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f0fafd;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: #c69963;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #101d2c !important;
}

html::-webkit-scrollbar {
  display: none;
}
html {
  scrollbar-width: none;
}

.header {
  background-image: linear-gradient(
      rgba(16, 29, 44, 0.93),
      rgba(16, 29, 44, 0.93)
    ),
    url(./resources/images/hero.jpeg);
  margin-bottom: 3vh;
}
